.add-button {
    translate: 1415px -150px;
    overflow: visible;
}

.addBtn-nav {
    opacity: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.addBtn-nav.show {
    opacity: 1;
}


.addBtn-nav h1 {
    margin: 10px;
}

.characterBtn {
    position: fixed;
    translate: -90px 55px;
}

.postBtn {
    position: fixed;
    translate: 13px -48px;
}

.add-post {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 60px;
    font-weight: 800;
    background-color: rgb(140, 253, 210);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    z-index: 1;
}
