.addChar-container {
    border: solid 5px rgb(36, 3, 43);
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.charName-input {
    resize: none;
    width: 20vw;
    height: 5vh;
}

.description-input {
    resize: none;
    width: 20vw;
    height: 30vh;
    border-bottom: none;
}

.charName-input, 
.description-input {
    border-left: none;
    border-right: none;
}