.login {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(140, 253, 210);
    border-radius: 15px;
    border-left: 10px solid rgb(140, 253, 210);
    border-right: 10px solid rgb(140, 253, 210);
    border-bottom: 10px solid rgb(140, 253, 210);
    color: rgb(59, 5, 70);  
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(140, 253, 210);
    line-height: inherit;
    font-weight: 800; 
    font-size: 3.5rem;
    letter-spacing: .4rem;
    border-radius: 15px;
}

.container {
    background-color: white;
    border-radius: 15px;
}

h2 {
    font-size: 1.5rem;
}

form {
    display: flex;
    flex-direction: column;
}

form div {
    margin: 15px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

input {
    width: 60%;
    border: solid 1px rgb(59, 5, 70); 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px grey;
    margin-right: 10%;
}

label {
    margin-left: 10%;
}

.btn-container {
    flex-direction: row;
    justify-content: end;
    padding: 10px;
}

button:hover {
    box-shadow: 0px 0px 10px grey;
    cursor: pointer;
}

button link {
    font-size: 1rem;
    border-radius: 5px;
    width: 15%;
    border: solid 1px rgb(59, 5, 70); 
    border-radius: 15px;
}

.loginbtn {
    background-color: rgb(59, 5, 70);
    color: rgb(140, 253, 210);
    margin-right: 5%;
    border-radius: 5px;
}

.signupbtn {
    background-color: white;
    border-radius: 5px;
}


@media screen and (min-width: 300px) and (max-width: 600px) {
    .login {
        width: 70%;
    }

    .title {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }
    form ul {
        font-size: 1rem;   
    }
    form li {
        padding: 5px;
        transform: translate(-10%, 0%);
    }
    button {
        font-size: .8rem;
        box-shadow: 0px 0px 10px grey;
        border-radius: 5px;
        width: 35%;
        margin: 5px;
        transform: translate(10%, 50%);
        border: solid 1px rgb(59, 5, 70); 
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .login {
        width: 70%;
        transform: translate(-50%, -65%);
    }
    button {
        width: 18%;
        transform: translate(100%, 50%);
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .login {
        width: 70%;
        transform: translate(-50%, -80%);
    }
    button {
        width: 18%;
        transform: translate(100%, 50%);
    }

}

@media screen and (min-width: 1000px) and (max-width: 1000px){
    .login {
        width: 70%;
        transform: translate(-50%, -100%);
    }
    button {
        width: 18%;
        transform: translate(100%, 50%);
    }
}