.login {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title,
form {
    color: rgb(59, 5, 70);  
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(140, 253, 210);
    line-height: inherit;
    font-weight: 800; 
    font-size: 3rem;
    margin: 0;
    padding-bottom: 12px;
    letter-spacing: .5rem;
}

h2 {
    font-size: 1.5rem;
}

form {
    background-color: white;
    border: 15px solid rgb(140, 253, 210);
    border-radius: 30px;
}

form ul {
    font-size: 2rem;
}
form li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

input {
    width: 50%;
    border: solid 1px rgb(59, 5, 70); 
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px grey;
}

button {
    font-size: 1rem;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
    width: 15%;
    margin: 10px;
    transform: translate(200%, 50%);
    border: solid 1px rgb(59, 5, 70); 
}

.loginbtn {
    background-color: rgb(59, 5, 70);
    color: rgb(140, 253, 210);
}


@media screen and (min-width: 300px) and (max-width: 600px) {
    .login {
        width: 70%;
    }

    .title {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
    }
    form ul {
        font-size: 1rem;   
    }
    form li {
        padding: 5px;
        transform: translate(-10%, 0%);
    }
    button {
        font-size: .8rem;
        box-shadow: 0px 0px 10px grey;
        border-radius: 5px;
        width: 35%;
        margin: 5px;
        transform: translate(10%, 50%);
        border: solid 1px rgb(59, 5, 70); 
    }
}

@media screen and (min-width: 600px) and (max-width: 800px){
    .login {
        width: 70%;
        transform: translate(-50%, -65%);
    }
    button {
        width: 18%;
        transform: translate(100%, 50%);
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .login {
        width: 70%;
        transform: translate(-50%, -80%);
    }
    button {
        width: 18%;
        transform: translate(100%, 50%);
    }

}

@media screen and (min-width: 1000px) and (max-width: 1000px){
    .login {
        width: 70%;
        transform: translate(-50%, -100%);
    }
    button {
        width: 18%;
        transform: translate(100%, 50%);
    }
}