.navbar {
    padding-top: 7px;
}



.sidebar {
    height: 100vh;
    background-color: rgb(27, 0, 32);
    width: 20%;
    display: flex;
    z-index: 1;
}

.navbar-content {
    opacity: 0;
}

.navbar-content.show {
    opacity: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 25px;
    padding-top: 40px;
    margin-top: 30px;
}

.nav-link {
    text-decoration: none;
    color: rgb(140, 253, 210);
    margin-bottom: 30px;
    font-size: 30px;
    border-bottom: solid 1px rgb(140, 253, 210);
}




