.element::-webkit-scrollbar {
    display: none;
}

.profile {
    margin-top: 5%;
    height: 80vh;
    width: 80vw;
    margin-left: 158px;
    border-radius: 15px;
    background-color: white;
}

.profile-banner {
    padding-bottom: 10px;
    border-bottom: solid 5px rgb(36, 3, 43);
}

.charPage-link {
    text-decoration: none;
    color:rgb(36, 3, 43);
    border-radius: 5px;
    padding: 5px;
    border: solid 1px rgb(36, 3, 43);
}

.user-posts {
    height: 70vh;
    overflow-y: auto;
}

.user-posts::-webkit-scrollbar {
    display: none;
}

.user-content {
    border: solid 1px rgb(36, 3, 43);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

.post-date {
    text-align: right;
    padding-right: 10px;
}

.user-post-btns {
    text-align: right;
    padding-right: 10px;
}

.edit-btn {
    margin-right: 10px;
    background-color: rgb(36, 3, 43);
}

.edit-btn a {
    color: rgb(140, 253, 210);
    text-decoration: none;
    border: none
}

.del-btn {
    border-color:rgb(36, 3, 43);
    color:rgb(36, 3, 43);
    background-color: rgba(128, 128, 128, 0.171) ;
}

