.top-rankings {
    display: flex;
    justify-content: space-between;
}

.top {
    color: rgb(140, 253, 210);
    border: solid rgb(140, 253, 210) 1px;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
}

.ranking-period{
    display: flex;
}

.ranking-period h1 {
    margin: 15px;
    padding: 10px;
    background-color: rgb(140, 253, 210);
    color: rgb(59, 5, 70);
    border-radius: 5px;
}

.rank-postings {
    display: flex;
    flex-direction: column;
    color: rgb(140, 253, 210);
}

.top-post {
    display: flex;
    justify-content: space-around;
    margin: 10px;
    border: solid rgb(140, 253, 210) 1px;
}

.tags {
    text-align: right;
}